.background-img{
    background-image: url("../../images/Mask\ Group\ 22.png");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.react-calendar{
    line-height: 1.5em !important;
}
.react-calendar__tile:disabled{
    background-color: white;
}
.react-calendar__tile--active{
    background-image: linear-gradient(90deg,rgb(24, 210, 174), rgb(15, 207, 234));
    border-radius: 3px;
}
.react-calendar__tile--now,
.react-calendar__tile--active:hover,
.react-calendar__tile:enabled:hover {
    background-color: rgba(157, 221, 208, 0.562);
}
.react-calendar__tile:enabled:focus {
  background-image: linear-gradient(90deg,rgb(24, 210, 174), rgb(15, 207, 234));
}
.react-calendar__navigation button[disabled]{
    background-color: white;
}
.background{
    border-radius: 5px;
    box-shadow: 1px 1px 8px gray;
}
.foot h3{
    color: rgb(10, 172, 194);
}
.foot h6{
    color:gray;
}